# Data Types and Variables

## Syntax

Syntax refers to the guidelines that determine the structure of a language.  
If the syntax of a language is not followed, the code will not be understood by a compiler or interpreter.

### Key Features of Python Syntax:

- **Comments**:  
  - Single-line comment: `#`  
  - Multi-line comment: `""" """`

- **Case Sensitivity**:  
  - Python is case-sensitive.

- **Statements**:  
  - Python executes statements line by line, i.e., one line at a time.

- **Input/Output**:  
  - `input()` is used to take user input.  
  - `print()` is used to show the output.

- **Indentation**:  
  - Python uses indentation to define code blocks instead of braces `{}`.

In [1]:
# this is a comment 
'''
this is a
multi line 
comment
'''

'\nthis is a\nmulti line \ncomment\n'

In [2]:
"""
This is an example of 
multi line comment.

Below shows the example of the CASE SENSTIVE in Python
"""
temperature = 20
TEMPerature = 30

print(temperature)
print(TEMPerature)

20
30

In [3]:
print(TEMPERATURE)

NameError: name 'TEMPERATURE' is not defined

In [5]:
## input your name
name = input('Enter your name : ')
print(name)

Nirajan

## Variables

Variables are containers for storing data values.

### Rules for Creating Variable Names

- Must start with a **letter** or the **underscore** (`_`) character
- **Cannot** start with a number
- Can only contain **alphanumeric characters** and **underscores** (`A-z`, `0-9`, and `_`)
- **Case-sensitive** â€” `mobile`, `Mobile`, and `MOBILE` are three different variables
- Cannot be any of the **Python keywords**

**Tip: Use meaningful variable names to make your code easier to understand.**

In [6]:
PI = 3.14

In [7]:
TEMPERATURE = 20

In [9]:
abc = 10

In [9]:
temperature = 2
exhaust_temperature = 2

In [ ]:
## special characters lik $, -, % cannot be used in the variable name.
asdf$sdf = 10

SyntaxError: invalid syntax (3217536336.py, line 1)

In [8]:
# python keywords cannot be used as variable name
if = 10

SyntaxError: invalid syntax (2884609840.py, line 2)

### Data Types

| **Category**       | **Data Types**             | **Description**                                       |
|--------------------|----------------------------|-------------------------------------------------------|
| Text Type          | `str`                      | Stores text data (e.g., `"Hello"`)                   |
| Numeric Types      | `int`, `float`, `complex`  | `int`: Integers (e.g., 5) <br> `float`: Decimals (e.g., 3.14) <br> `complex`: Complex numbers (e.g., 2 + 3j) |
| Sequence Types     | `list`, `tuple`, `range`   | Ordered collections <br> `list` and `tuple` store multiple items <br> `range` represents a sequence of numbers |
| Mapping Type       | `dict`                     | Key-value pairs (e.g., `{"name": "Alice"}`)          |
| Set Types          | `set`, `frozenset`         | Unordered collections of unique items                |
| Boolean Type       | `bool`                     | Represents truth values: `True` or `False`           |

#### Perform arithmetic operations using Float Variables


#### Excercise : Perform arithmetic operations using Complex Number

In [10]:
a = 2
b = 5
print(a + b)
print(a - b)

7
-3

In [11]:
a = 2+5j
print(a)
print(type(a))

(2+5j)
<class 'complex'>

In [25]:
x = 5 + 2j
y = 5 - 2j 
print(x)
print(y)
print(x + y)
print(x - y)
print(x / y)
print(x * y)
print(x ** y)

(5+2j)
(5-2j)
(10+0j)
4j
(0.7241379310344828+0.6896551724137931j)
(29+0j)
(1025.9425992055105-9639.459628933018j)

### Type Casting
 - Type casting, also known as type conversion, is the process of changing the data type of a variable from one type to another.

In [12]:
x_string = '10asdfa'
x_int = int(x_string)

print(x_string)
print(x_int)

ValueError: invalid literal for int() with base 10: '10asdfa'

In [27]:
print(type(x_string))
print(type(x_int))

<class 'str'>
<class 'int'>

Q. Take two numbers as an input from user and add them

In [28]:
a = 10
b = str(a)
print(a)
print(b)

print(type(a), type(b))

10
10
<class 'int'> <class 'str'>

In [ ]:
a = 10
print(a)
print(type(a))

b = float(a)
print(b)
print(type(b))

10
<class 'int'>
10.0
<class 'float'>

In [3]:
a = 10.123
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

10.123
<class 'float'>
10
<class 'int'>

In [6]:
a = '10'
b = int(a)

### Dynamic Typing in Python

In statically typed languages like C
```
int a = 10
```

The data type is explicitly declared at compile time, meaning a is known to be an integer before the program runs.

In [10]:
"""
In python, data type is specified during the runtime.
"""
a = 10

### Exercise:  Write a program to take two numbers from user and add them