## Dictionaries

- Dictionaries are used to store data values in key:value pairs.

### Creating and Accessing Dictionary

In [1]:
person = {
    'name': 'Alice', 
    'age': 25
    }
print(person['name'])  # Accessing value by key

Alice

### Adding, Updating, and Removing Elements

In [13]:
## add city
person['city'] = 'Kathmandu'

## update age
person['age'] = 50
print(person)

{'name': 'Alice', 'age': 50, 'city': 'Kathmandu'}

In [14]:
## delete name
del person['name']
print(person)

{'age': 50, 'city': 'Kathmandu'}

### Dictionary Methods

| Method         | Description                                  | Example Code                              | Output                  |
| -------------- | -------------------------------------------- | ----------------------------------------- | ------------------------ |
| `keys()`       | Returns a list of dictionary keys             | `d = {'a': 1}`<br>`d.keys()`              | `dict_keys(['a'])`       |
| `values()`     | Returns a list of dictionary values           | `d = {'a': 1}`<br>`d.values()`            | `dict_values([1])`       |
| `items()`      | Returns a list of key-value tuple pairs       | `d = {'a': 1}`<br>`d.items()`             | `dict_items([('a', 1)])` |
| `get()`        | Returns value for key if key exists           | `d = {'a': 1}`<br>`d.get('a')`            | `1`                     |
| `update()`     | Updates dictionary with another dictionary    | `d.update({'b': 2})`                      | `{'a': 1, 'b': 2}`       |
| `pop()`        | Removes and returns value for key             | `d.pop('a')`                              | `1` and `{'b': 2}`       |
| `clear()`      | Removes all items                            | `d.clear()`                               | `{}`                     |

### Exercise Create a dictionary with movie data (title, year, rating)
Tasks:

- Access the title.
- Update the rating.
- Add a new key: 'actor'.
- Delete the year.
- Print all keys and values.

In [2]:
print(person)

{'name': 'Alice', 'age': 25}

In [3]:
person.keys()

dict_keys(['name', 'age'])

In [4]:
person.values()

dict_values(['Alice', 25])

In [5]:
person.items()

dict_items([('name', 'Alice'), ('age', 25)])

In [6]:
person

{'name': 'Alice', 'age': 25}

In [7]:
person['location']

KeyError: 'location'

In [9]:
person.get('name')

'Alice'

In [11]:
person.get('location', 'Kathmandu')

'Kathmandu'

In [12]:
person.get('dsafaskhj', 'Kathmandu')

'Kathmandu'

### type casting

In [14]:
my_tuple = (1, 2, 3, 4)
my_list = list(my_tuple)
my_list.append(5)
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 4, 5)